# Required libraries:

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

# Load dataset "cleaned_Property_data.csv":

In [2]:
df1 = pd.read_csv(r"C:\Users\HP\Desktop\Digi-crome\DigiCrome_Capstone_Project-1\Data\cleaned_Property_data.csv")

In [3]:
df1

,PropertyID,PropertyClass,PropertyFrontage,PropertySize,OverallQual,OverallCond,YearBuilt,YearRemodAdd,ExteriorCladdingArea,BsmntFinSty1,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondn_AdjLand,SaleCondn_Alloca,SaleCondn_Family,SaleCondn_Normal,SaleCondn_Partial
0,1,60,65,8450,7,5,2003,2003,196,706,...,0,0,0,0,1,0,0,0,1,0
1,2,20,80,9600,6,8,1976,1976,0,978,...,0,0,0,0,1,0,0,0,1,0
2,3,60,68,11250,7,5,2001,2002,162,486,...,0,0,0,0,1,0,0,0,1,0
3,4,70,60,9550,7,5,1915,1970,0,216,...,0,0,0,0,1,0,0,0,0,0
4,5,60,84,14260,8,5,2000,2000,350,655,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1425,1456,60,62,7917,6,5,1999,2000,0,0,...,0,0,0,0,1,0,0,0,1,0
1426,1457,20,85,13175,6,6,1978,1988,119,790,...,0,0,0,0,1,0,0,0,1,0
1427,1458,70,66,9042,7,9,1941,2006,0,275,...,0,0,0,0,1,0,0,0,1,0
1428,1459,20,68,9717,5,6,1950,1996,0,49,...,0,0,0,0,1,0,0,0,1,0
1429,1460,20,75,9937,5,6,1965,1965,0,830,...,0,0,0,0,1,0,0,0,1,0

In [4]:
df1.head(5)

,PropertyID,PropertyClass,PropertyFrontage,PropertySize,OverallQual,OverallCond,YearBuilt,YearRemodAdd,ExteriorCladdingArea,BsmntFinSty1,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondn_AdjLand,SaleCondn_Alloca,SaleCondn_Family,SaleCondn_Normal,SaleCondn_Partial
0,1,60,65,8450,7,5,2003,2003,196,706,...,0,0,0,0,1,0,0,0,1,0
1,2,20,80,9600,6,8,1976,1976,0,978,...,0,0,0,0,1,0,0,0,1,0
2,3,60,68,11250,7,5,2001,2002,162,486,...,0,0,0,0,1,0,0,0,1,0
3,4,70,60,9550,7,5,1915,1970,0,216,...,0,0,0,0,1,0,0,0,0,0
4,5,60,84,14260,8,5,2000,2000,350,655,...,0,0,0,0,1,0,0,0,1,0

In [5]:
df1.shape

(1430, 262)

In [6]:
df1.columns

Index(['PropertyID', 'PropertyClass', 'PropertyFrontage', 'PropertySize',
       'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'ExteriorCladdingArea', 'BsmntFinSty1',
       ...
       'SaleType_ConLI', 'SaleType_ConLw', 'SaleType_New', 'SaleType_Oth',
       'SaleType_WD', 'SaleCondn_AdjLand', 'SaleCondn_Alloca',
       'SaleCondn_Family', 'SaleCondn_Normal', 'SaleCondn_Partial'],
      dtype='object', length=262)

#  Calculate age at sale

In [7]:
df1['AgeAtSale'] = df1['SaleYr'] - df1['YearBuilt']

In [8]:
df1['YearsSinceRemodel'] = df1['SaleYr'] - df1['YearRemodAdd']

#  Display the first few rows to verify the new columns

In [9]:
print(df1[['AgeAtSale', 'YearsSinceRemodel']].head())

   AgeAtSale  YearsSinceRemodel
0          5                  5
1         31                 31
2          7                  6
3         91                 36
4          8                  8

#  Calculate Total Bathrooms

In [10]:
df1['TotalBathrooms'] = df1['BsmtFullBath'] + df1['BsmtHalfBath']*0.5 + df1['Bath1'] + df1['Bath2']*0.5

In [11]:
print(df1[['TotalBathrooms']].head())

   TotalBathrooms
0             3.5
1             2.5
2             3.5
3             2.0
4             3.5

# Calculate total square foot

In [12]:
df1['TotalSqFootage'] = df1['1stFlrSF'] + df1['2ndFlrSF'] + df1['BsmtFinSF2'] + df1['BsmtUnfSF']

In [13]:
print(df1[['TotalSqFootage']].head())

   TotalSqFootage
0            1860
1            1546
2            2220
3            2257
4            2688

# Calculate Quality Score:

In [14]:
df1['QualityScore'] = df1['OverallQual'] * df1['OverallCond']

In [15]:
print(df1[['QualityScore']].head())

   QualityScore
0            35
1            48
2            35
3            35
4            40

# Calculate Interaction Features:

In [16]:
df1['GrLivArea_OverallQual'] = df1['GrLivArea'] * df1['OverallQual']

In [17]:
print(df1[['GrLivArea_OverallQual']].head())

   GrLivArea_OverallQual
0                  11970
1                   7572
2                  12502
3                  12019
4                  17584

In [18]:
# Save data
df1.to_csv(r'C:\Users\HP\Desktop\Digi-crome\DigiCrome_Capstone_Project-1\Data\feature_Property_data.csv', index=False)